section.map {
	display: flex;
	flex-flow: column;
	// justify-content: center;
	align-items: center;
	width: 100%;
	// height: auto;

	#map {
		width: 100vw;
		height: 95%;
	}
	.footer {
		height: 5%;
	}
}
