$yellow: #fedb3f;
$gray: #666666;
$black: #292929;
$lightgray: #aaaaaa;
$white: #ffffff;

section.menu {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 40.75rem;
	box-sizing: border-box;
	background: url('../img/wave.png') center center no-repeat;
	background-size: cover;

	&::before {
		content: 'МЕНЮ';
		position: absolute;
		top: 6rem;
		left: 4rem;
		color: $white;
		font-size: 48px;
		font-weight: 700;
	}

	.menu__item {
		width: 6.375rem;
		height: 100%;
		background-image: url('../img/menu__longboard.png');
		background-size: cover;
		&:hover {
			cursor: pointer;
		}
	}

	.menu__full {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 3rem;
		padding-top: 2rem;
		padding: 3rem;
		width: 33rem;
		height: 100%;
		text-align: center;
		background-color: #333537e5;
		color: #fff;
		font-size: 1.2rem;
		transition: 1s;

		overflow: hidden;

		.close-menu-full {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			font-size: 3rem;

			color: #666666;
			background-color: transparent;
			border: transparent;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.menu__full-hidden {
		padding: 0;
		width: 0;
	}

	.color-transparent {
		color: transparent;
	}
}

// @media (max-width: 768px) {
// 	.section.menu {
// 		.menu__item {
// 			width: 15%;
// 			background-size: cover;
// 		}
// 	}
// }
